<div id="comments">
  {{#each this}}
    <div class="comment">
        <section class="card-body">
            <div class="text">
                {{comment_text}}
            </div>
            <div class="meta">
                -{{user.username}}, {{format_date created_at}}
            </div>
        </section>
    </div>
  {{/each}}
</div>
